body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #fff;
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav-menu {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.nav-menu li {
    margin: 0 30px;
}

.nav-menu a {
    color: #333;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
}

.nav-menu a.active {
    font-weight: bold;
    color: #4CAF50;
}

.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    background-image: url('../media/banner.jpg'); /* Ruta relativa */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
}

.banner-content {
    max-width: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
}

.banner-content h1 {
    font-size: 36px;
    color: #4CAF50;
}

.banner-content h1 span {
    color: #8BC34A;
}

.banner-content p {
    font-size: 16px;
    color: #fff;
}

.banner-image {
    display: none;
}

/* Media Queries for Responsive Design */
@media (max-width: 768px) {
    .banner {
        flex-direction: column;
        text-align: center;
        padding: 20px;
    }

    .banner-content {
        max-width: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        padding: 20px;
    }

    .banner-content h1 {
        font-size: 28px;
    }

    .banner-content p {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .nav-menu {
        flex-direction: column;
    }

    .nav-menu li {
        margin: 10px 0;
    }

    .banner-content h1 {
        font-size: 24px;
    }

    .banner-content p {
        font-size: 12px;
    }
}